@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: white;
}

html{
    scroll-behavior: smooth;
}
/* ------------------------------- Nav ------------------------------ */
.nav {
    width: 100%;
    color: white;
    display: flex;
    align-items: center; 
    top: 0;
    position: fixed;
    /* background blur */
    backdrop-filter: blur(10px);
    background-color: black;
    border-bottom: 1px solid rgb(49, 49, 49);
}
.nav-in {
    width: 95%;
    margin: auto;
    display: flex;
    padding: 0.5rem 0rem;
}
.nav-in-one {
    width: 20%;
}
.nav-in-one-in a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.nav-in-one-in h1 {
    font-size: 1.3rem;
    color: white;
}
.nav-in-two {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-in-two-in {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav-in-one-in span{
    color: blue;
}
.nav-in-two-in a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}
.nav-in-one-in span{
    color: blue;
}
.nav-in-three {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-in-three-in {
    width: 90%;
    margin: auto;
}
.nav-in-three-in a {
    text-decoration: none;
    border-radius: 0.9rem;
    color: rgb(186, 184, 184);
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
}

.nav-in-two-in a:hover{
    transform: scale(1.2);
    z-index: 1;
    transition: .6s ease;
}

.nav-in-two-in :not(a:hover)
{
    transition: .6s ease-in-out;
}
   

.nav-in-three-in a:hover{
    background-color: blue; 
    transition: .5s ease;
}

.nav-in-three-in :not(a:hover){
    background-color: black; 
    transition: .5s ease;
}


/* ------------------------------- About ------------------------------ */

.about-section{
    width: 100%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    padding: 3rem 0rem;
}
.about-in-one{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.about-in-one span{
    color: rgb(146, 146, 146);
    font-size: 2rem;
    font-weight: 700;

}

.about-in-one p{
    font-size: 2.5rem;
    padding: 1rem 0rem;
}
.about-in{
    height: 60vh;
    width: 87%;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-in-one p{
    font-size: 0.9rem;
}
.about-in-one a{
    text-decoration: none;
    color: white;
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
    background-color: rgb(52, 51, 51);
}
.about-in-two{
    height: 64vh;
    width: 47%;
}



/* ------------------------------- Counter ------------------------------ */

.counter{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0rem;
    background-color: rgb(22, 22, 22);
    background-color: rgb(34, 34, 34);
}
.Count-Heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 3rem;
}
.Count-Heading h2 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(146, 146, 146);
}
.Count-Heading p {
    font-size: 1rem;
    margin-top: 1.5rem;
}
.counter-in {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
} 
.counter-item {
    width: 24%;
    padding: 2rem 1rem;
    background-color: rgb(47, 47, 47);
    border: 2px solid black;
}
.counter-item p {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}
.count{
    font-size: 6rem;
    color:white;
}


/* ------------------------------- Blogs ------------------------------ */

.blogs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 3rem 0rem;
}
.blogs-in{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.blogs-in h1{
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    color: rgb(146, 146, 146);
}
.blogs-in p {
    margin-top: 1.5rem;
    font-size: 1rem;
}
.blogs-in a{
    text-decoration: none;
}
.Blogs-box-in{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0rem;
}
.Blogs-box{
    padding: 2rem;
    width: 32%;
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: medium;
    min-height: 55vh;
    border: 1px solid grey;
}

.Blogs-box h3{
    color: lightgrey;
    min-height: 15vh;
}
.Blogs-box a {
    text-decoration: none;
    color: white;
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
    background-color: rgb(52, 51, 51);
}
.Blogs-box p {
    color: white;
    min-height: 30vh;
}



/* ------------------------------- Faqs ------------------------------ */

.Faqs{
    width: 100%;
    padding: 3rem 0rem;
    background-color: black;
}  
.Faqs-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Faqs-heading h2 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(146, 146, 146);
}
.Faqs-in {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: auto;
    padding: 2rem 0rem;
}
.Faq-in-one{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.Faq-in-one h2 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(146, 146, 146);

}
.faq-container {
    width: 100%;    
    padding: 0 20px;
    overflow: hidden;
}

.faq-container details {
    transition: max-height 0.5s ease-out;
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(47, 47, 47);
} 
.faq-container summary {
    cursor: pointer;
    font-weight: bold;
    transition: max-height 0.5s ease-out;
}

.Faq-in-two{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* ------------------------------- Collab ------------------------------ */

.Collab{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 3rem 0rem;
}
.Collab-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Collab-header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(146, 146, 146);
}

.Collab-in{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Collab-in-one{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Collab-in-one img {
    width: 90%;
    height: 100%;
    border-radius: 10px;
}
.Collab-in-two{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Collab-in-two p {
    font-size: 1rem;
    text-align: center;
    width: 80%;
    margin: auto;
}
.Collab-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 1rem;
    text-decoration: none;
    color: white;
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
    background-color: rgb(52, 51, 51);
}
.Collab-button a{
    text-decoration: none;
}


/* ------------------------------- Footer ------------------------------ */

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top: 1px solid grey;
} 

.footer-in{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding: 1rem 0rem;
}

.footer-section{
    width: 25%;
    color: white;
}

.footer-section-one {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.footer-section-one img {

}
.footer-section-one p {
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    text-align: left;
}

.footer-section
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    text-align: center;
}

.footer-section-two, .footer-section-three, .footer-section-four {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-section-one {
    width: 40%;
}
.footer-section-two {
    width: 15%;
}
.footer-section-three {
    width: 15%;
}
.footer-section-four {
    width: 30%;
}

.footer-section-two h3, .footer-section-three h3, .footer-section-four h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(146, 146, 146);
}

.footer-section-two a, .footer-section-three a, .footer-section-four a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: .8rem;
}
.footer-section-four {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.icons{
    height: 5vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
<<<<<<< HEAD
button{
    width: 18%;
    text-decoration: none;
    color: black;
}

/* ------------------------------- Domain ------------------------------ */

/* ------------------------------- Domain ------------------------------ */

.Domain{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    padding: 3rem 0rem;
    padding-bottom: 20rem;
}  
.domain-in-one{
    width: 100%;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
} 
.domain-in-one h1{
    font-weight: 700;
    font-size: 2rem;
}
.domain-in-one p{
    color: white;
    font-size: 1rem;
}


.domain-in-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
=======
.Subsrcibe form input {
>>>>>>> 22a0a0dcf44d4a3817267c08b708e2d338e66982
    width: 90%;
    border: 1px solid grey;
    border-radius: 0;
    background-color: white;
    border: 1px;
    padding: 0.5rem;
    color: black;
    margin-top: 0.4rem;
}
.Subsrcibe form button{
    background-color: black;
<<<<<<< HEAD
    width: 24%;
    font-family: sans-serif;
    padding: 7rem 0rem;
    
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid white;
    padding: 0rem 1rem;
   border: 2px solid red;
  position: absolute;
  max-height: 60vh;
   
  }
  
  .flip-card-front {
    
    color: white;
    padding: 2rem 0rem;
    
  }
  .flip-card-front img{
    height: 50vh;
  }
  
  .flip-card-back {
    
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    gap: 40px;
   padding: 5rem 0rem;
  }
=======
    border: 1px solid grey;
    padding: 0.2rem 0.4rem;
    margin-top: 0.4rem;
    border-radius: 5px;
}
>>>>>>> 22a0a0dcf44d4a3817267c08b708e2d338e66982


