@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: white;
}
html{
    scroll-behavior: smooth;
}

.HomePage{
    height: 100vh;
    width: 100%;
}
.nav {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center; 
    top: 0;
    position: fixed;
}
.nav-in {
    width: 95%;
    margin: auto;
    display: flex;
    padding: 0.5rem 0rem;
}
.nav-in-one {
    width: 20%;
}
.nav-in-one-in a {
    text-decoration: none;
    color: white;
}
.nav-in-one-in h1 {
    font-size: 1.5rem;
    color: white;
}
.nav-in-two {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-in-two-in {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav-in-one-in span{
    color: blue;
}
.nav-in-two-in a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
}
.nav-in-one-in span{
    color: blu;
}
.nav-in-three {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-in-three-in {
    width: 90%;
    margin: auto;
}
.nav-in-three-in a {
    text-decoration: none;
    border-radius: 0.9rem;
    color: rgb(186, 184, 184);
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
}

.nav-in-two-in a:hover{
    transform: scale(1.2);
    z-index: 1;
    transition: .6s ease;
}

.nav-in-two-in :not(a:hover)
{
    transition: .6s ease-in-out;
}

.nav-in-three-in a:hover{
    background-color: blue; 
    transition: .5s ease;
}

.nav-in-three-in :not(a:hover){
    background-color: black; 
    transition: .5s ease;
}
.heropage{
    height: 100vh;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heropage span{
    color: #8c9acf;
}
.heropage h1{
    font-size: 3.5rem;
}
.about-section{
    height: 65vh;
    width: 100%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
}
.about-in-one span{
    color: blue;
}
.about-in{
    height: 60vh;
    width: 87%;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-in-one{
    height: 64vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.about-in-one h1{
    font-size: 2rem;
}
.about-in-one p{
    font-size: 0.9rem;
}
.about-in-one a{
    text-decoration: white;
}
.about-in-two{
    height: 64vh;
    width: 47%;
}
.counter{
    height: 60vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid white;
}
.Count-Heading{
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter-in {
    height: 35vh;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
} 
.count{
    font-size: 4em;
    color:blue;
}
.Domain{
    border-top: 1px solid white;
    height: 100vh;
    width: 100%;
    background-color: black;
}  
.Domain-in-one{
    height: 25vh;
    width: 100%;
} 
.Domain-in-two{
    height: 65vh;
    width: 100%;

}
.blogs{
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top: 1px solid white;    
    border-bottom: 1px solid white;   
}
.blogs-in{
 height: 70vh;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Blogs-box-in{
    height: 65vh;
    width: 99%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Blogs-box{
    padding: 2rem;
    height: 40vh;
    width: 32%;
    box-shadow: 1px 1px 1px 1px #8c9acf;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
}
.Blogs-box a{
    text-decoration: none;
}
.Faqs{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}  
.Faq-in-one{
    height: 50vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
}
.faq-container {
    height: 50vh;
    width: 100%;    
    padding: 0 20px;
    overflow: hidden;
  }
  
h2 {
    text-align: center;
    margin-bottom: 30px;
}  
details {
    margin-bottom: 20px;
} 
summary {
    cursor: pointer;
    font-weight: bold;
  } 
p {
    margin-top: 10px;
  }
.faq-container p{
    background-color: blue;
}
.Faq-in-two{
    height: 50vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Collab{
    color: white;
    height: 50vh;
    width: 100%;
    background-color: black;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Collab-in{
    height: 48vh;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Collab-in-one{
    height: 48vh;
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Collab-in-two{
    height: 48vh;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Collab-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 8vh;
    width: 20%;
    background-color: black;
    border: 2px solid #8c9acf;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
}
.Collab-button:hover{
    background-color:#8c9acf;
    font-size:  x-large;
}
.Collab-in-two a{
    text-decoration: none;
}
footer{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid grey;
    background-color: black;
} 
.footer-in{
    height: 45vh;
    width: 97%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
.footer-section{
    height: 40vh;
    width: 24%;
    color: white;
}
.footer-section a{
    text-decoration: none;
    color: #8c9acf;
}
.footer-section
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.icons{
    height: 5vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    width: 18%;
    text-decoration: none;
    color: black;
}


    