@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    
}
html{
    scroll-behavior: smooth;
}

.HomePage{
    height: 100vh;
    width: 100%;
}
.nav {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}
.nav-in {
    width: 95%;
    margin: auto;
    display: flex;
    padding: 0.5rem 0rem;
}
.nav-in-one {
    width: 20%;
}
.nav-in-one-in a {
    text-decoration: none;
    color: white;
}
.nav-in-one-in h1 {
    font-size: 1.1rem;
    color: white;
}
.nav-in-two {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-in-two-in {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav-in-two-in a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
}
.nav-in-three {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-in-three-in {
    width: 90%;
    margin: auto;
}
.nav-in-three-in a {
    text-decoration: none;
    border-radius: 0.9rem;
    color: rgb(186, 184, 184);
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
}

.nav-in-two-in a:hover{
    transform: scale(1.2);
    z-index: 1;
    transition: .6s ease;
}

.nav-in-two-in :not(a:hover)
{
    transition: .6s ease-in-out;
}

.nav-in-three-in a:hover{
    background-color: blue; 
    transition: .5s ease;
}

.nav-in-three-in :not(a:hover){
    background-color: black; 
    transition: .5s ease;
}
.about-section{
    height: 70vh;
    width: 100%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
}
.about-in{
    height: 65vh;
    width: 87%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-in-one{
    height: 64vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
.about-in-one h1{
    font-size: 3rem;
}
.about-in-one a{
    text-decoration: white;
}
.about-in-two{
    height: 64vh;
    width: 47%;
}
.Domain{
    height: 60vh;
    width: 100%;
}
.Project{
    height: 60vh;
    width: 100%;
}
.Team{
    height: 60vh;
    width: 100%;
}
.Blogs{
    height: 60vh;
    width: 100%;
}
.FAQS{
    height: 60vh;
    width: 100%;
}
.footer{
    height: 45vh;
    width: 100%;
    background-color:black;
    color: white;
}
.footer-in-one{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid grey;
}
.one-in-one{
    height: 5vh;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.one-in-two{
    height: 5vh;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-in-two{
    height: 33vh;
    width: 100%;
    display: flex;
}
.in-two-one{
    height:33vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.in-two-two{
    height: 33vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer-in-three{
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid grey;
}
.in-two-two-icons{
    width: 20rem;
    display: flex;
    justify-content: space-evenly;
    
}
.in-two-two-icons i{
    font-size: 1.6rem;
}
.in-two-two-icons:hover > i {
    opacity: 1;
}
.in-two-two-icons:hover > i:hover {
    color:blue;
    opacity: 1;
}
