@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    background-color: black;
    color: white;
}
.header{
    
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:;
}
.header-one{
     height: 15vh;
     display: flex;
     align-items: center;
     font-size: 1rem;
     border-bottom: 2px solid white;
}
.header-two{
     height:10vh ;
     display: flex;
     align-items: center;
}
.header-three{
    height: 5vh;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: space-around;
    
}
.header-three-in-one{
    
    margin-left: 2px;
}
.content{
 
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}
.content-one{
    
    width: 100%;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: space-around;
}
.content-two{
    
    width: 100%;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: space-around;
   

}
.card{
    height: 30vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px 2px 2px grey;
    
}
select{
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
}
.footer{
    height: 45vh;
    width: 100%;
    background-color:black;
    color: white;
}
.footer-in-one{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid grey;
}
.one-in-one{
    height: 5vh;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.one-in-two{
    height: 5vh;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-in-two{
    height: 33vh;
    width: 100%;
    display: flex;
}

.in-two-one{
    height:33vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.in-two-two{
    height: 33vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer-in-three{
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid grey;
}

.in-two-two-icons{
    width: 20rem;
    display: flex;
    justify-content: space-evenly;
    
}
.in-two-two-icons i{
    font-size: 1.6rem;
}
.in-two-two-icons:hover > i {
    opacity: 1;
}
.in-two-two-icons:hover > i:hover {
    color:blue;
    opacity: 1;
}