@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    background-color: black;
    color: white;
}
.nav {
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    top:0;
    position: sticky;
    /* background-color: ; */
    /* border-bottom: 2ps solid red; */
    border-bottom: 1px solid grey;
}

.nav-in {
    width: 95%;
    margin: auto;
    display: flex;
    padding: 0.5rem 0rem;
}

.nav-in-one {
    width: 20%;
}

.nav-in-one-in a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-in-one-in h1 {
    font-size: 1.3rem;
    color: white;
}

.nav-in-two {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-in-two-in {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav-in-two-in a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.nav-in-one-in span{
    color: blue;
}

.nav-in-three {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-in-three-in {
    width: 90%;
    margin: auto;
}

.nav-in-three-in a {
    text-decoration: none;
    border-radius: 0.9rem;
    color: rgb(186, 184, 184);
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
}

/* .nav-in-two-in a:hover {
    transform: scale(1.2);
    z-index: 1;
    transition: .6s ease;
}

.nav-in-two-in :not(a:hover) {
    transition: .6s ease-in-out;
} */
.nav-in-two-in a:hover { 
    color: grey;
    /* transition: 6ms; */
}


.nav-in-three-in a:hover {
    background-color: blue;
    transition: .5s ease;
}

.nav-in-three-in :not(a:hover) {
    background-color: black;
    transition: .5s ease;
}

.navtwo{
    display: none;
}

.header-one h1{
    font-weight: bold;
    font-size: 2rem;
}
.header-two p{
    color: rgba(186, 203, 218, 0.674);
    font-size: 1rem;
}

.header{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header-one{
     display: flex;
     align-items: center;
     font-size: 1rem;
     margin-top: 50px;
     justify-content: center;
     /* background-color: black; */
}
.header-two{
     display: flex;
     align-items: center;
}
.header-two p{
    color: rgba(186, 203, 218, 0.674);
    font-size: 1rem;
}
.header-three{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-three-in-one{
    margin-left: 2px;
}
.content{
 
  padding: 2rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}
.content-one{
    padding:2rem 0rem ;
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
}
.content-two{
    padding: 2rem 0rem;
    width: 100%;
    display: flex;
   
    align-items: center;
    justify-content: space-around;
   

}

.card{
    padding: 1rem 0rem;
    min-height: 50vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    color: white;
    border: 2px solid #8c9acf;
    
    
}
select{
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
}

p{
    padding: 1.5rem;
    font-size: 1rem;
}
.card-ex{
    margin-bottom: 1.5rem;
}
.card:hover{
    transform: scale(0.9);
    z-index: 1;
    transition: 1.8s;
}
.card:not(:hover){
    transition: 1s ease-in-out;
}
.blogs#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
#deepak{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
   
    
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background-color: black;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border:2px solid #8c9acf ;
    border-radius: 15px;
}

#deepak.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#kavya{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background-color: black;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border:2px solid #8c9acf ;
    border-radius: 15px;
}
#kavya.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#sai{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background-color: black;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border:2px solid #8c9acf ;
    border-radius: 15px;
}

#sai.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#dinesh{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background-color: black;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border:2px solid #8c9acf ;
    border-radius: 15px;
}

#dinesh.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#yasaswini{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background-color: black;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border:2px solid #8c9acf ;
    border-radius: 15px;
}

#yasaswini.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#saiSree{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background-color: black;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border:2px solid #8c9acf ;
    border-radius: 15px;
}

#saiSree.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.subfooter{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top: 1px solid grey;
}

.footer-in {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0rem;
}

.footer-section {
    width: 25%;
    color: white;
}
.footer-section-one {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.footer-section-one p {
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    text-align: left;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.footer-section-two,
.footer-section-three,
.footer-section-four {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-section-one {
    width: 40%;
}

.footer-section-two {
    width: 15%;
}

.footer-section-three {
    width: 15%;
}

.footer-section-four {
    width: 30%;
}

.footer-section-two h3,
.footer-section-three h3,
.footer-section-four h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(146, 146, 146);
}

.footer-section-two a,
.footer-section-three a,
.footer-section-four a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: .8rem;
}

.footer-section-four {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
}
.icons{
    height: 5vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* color: white; */
    /* background-color: red; */
}

.Subsrcibe form input {
    width: 90%;
    border: 1px solid grey;
    border-radius: 0;
    background-color: white;
    border: 1px;
    padding: 0.5rem;
    color: black;
    margin-top: 0.4rem;
}

.Subsrcibe form button {
    background-color: black;
    border: 1px solid grey;
    padding: 0.2rem 0.4rem;
    margin-top: 0.4rem;
    border-radius: 5px;
}
.footertwo{
    display: none;
}



