@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    background-color: black;
}
.Section-two{
    height: 150vh;
    width: 100%;
}
.cap{
    height: 30vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:rgba(250, 249, 249, 0.56) 0px 22px 70px 4px;
    text-decoration-color: gray;    
}
  .cap h1{
    font-weight: bold;
    font-size: 2rem;
}
.cap p{
    font-size: 1rem;
    color: rgba(186, 203, 218, 0.674);
    margin-bottom: 20px;
}
.container-in-two{

    width: 80%;
    color: white;
    margin: auto;
}
.projects1,.projects2,.projects3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.one,.two,.three,.four,.five,.six,.seven,.eight,.nine{
    border: 1px solid;
    border-color: radial(590px at 8.2% 13.8%, rgb(18, 35, 60) 0%, rgb(187, 187, 187) 90%);
    overflow: hidden;
    margin: 10px;
    text-align: left;
}
h1,h2{
  font-size: 1rem;
  font-weight: bolder;
}
h4{
    font-weight: lighter;
}
.one:hover,.two:hover,.three:hover,.four:hover,.five:hover,.six:hover,.seven:hover,.eight:hover,.nine:hover{
    border: 1px solid;
    box-shadow: rgba(250, 249, 249, 0.56) 0px 22px 70px 4px;
    transform: scale(0.9);
    z-index: 1;
    transition: .3s ease;
}
.y{
    padding-left: 10px;
}
@media only screen and (max-width: 1000px) {
.Section-two{
    height: 100vh;
    width: 100%;
}
.cap{
    margin-top: 3rem;
    height: 15vh;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.container-in-two{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.projects1{
    display: flex;
    flex-direction: column;
}
.projects3{
    display: flex;
    flex-direction: column;
    width:100%;
}
footer{
    margin-top: 75rem;
    /* display: none; */
}
}