@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    background-color: black;
}
.nav {
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center; 
    top: 0;
    position: fixed;
}
.nav-in {
    width: 95%;
    margin: auto;
    display: flex;
    padding: 0.5rem 0rem;
}
.nav-in-one {
    width: 20%;
}
.nav-in-one-in a {
    text-decoration: none;
    color: white;
}
.nav-in-one-in h1 {
    font-size: 1.5rem;
    color: white;
}
.nav-in-two {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-in-two-in {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav-in-one-in span{
    color: blue;
}
.nav-in-two-in a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
}
.nav-in-one-in span{
    color: blu;
}
.nav-in-three {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-in-three-in {
    width: 90%;
    margin: auto;
}
.nav-in-three-in a {
    text-decoration: none;
    border-radius: 0.9rem;
    color: rgb(186, 184, 184);
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
}

.nav-in-two-in a:hover{
    transform: scale(1.2);
    z-index: 1;
    transition: .6s ease;
}

.nav-in-two-in :not(a:hover)
{
    transition: .6s ease-in-out;
}

.nav-in-three-in a:hover{
    background-color: blue; 
    transition: .5s ease;
}

.nav-in-three-in :not(a:hover){
    background-color: black; 
    transition: .5s ease;
}
.Section-two{
    height: 150vh;
    width: 100%;
}
.cap{
    height: 30vh;

    width: 100%;
    padding-top: 7rem;
    padding-bottom: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    justify-content: space-evenly;
    background-color:rgba(250, 249, 249, 0.56) 0px 22px 70px 4px;
    text-decoration-color: gray;    
}
  .cap h1{
    font-weight: 470;
    font-size: 2rem;
}
.cap p{
    font-size: 1rem;
    color: rgba(186, 203, 218, 0.674);
    margin-bottom: 20px;
}
.container-in-two{
    width: 80%;
    color: white;
    margin: auto;
}
.projects1,.projects2,.projects3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.one,.two,.three,.four,.five,.six,.seven,.eight,.nine{
    overflow: hidden;
    text-align: left;
    height: 17rem;
    border: 2px solid #8c9acf;
  margin-top: 10px;
   border-radius: 0.4rem;
}
h1,h2{
  font-size: 1rem;
  font-weight: bolder;
}
img{
    border-bottom: 2px solid #8c9acf; 
}
.text1,.text2,.text3,.text4,.text5,.text6,.text7,.text8,.text9{
    padding: 10px;
}
.one:hover,.two:hover,.three:hover,.four:hover,.five:hover,.six:hover,.seven:hover,.eight:hover,.nine:hover{
    border: 2px solid #8c9acf ;
    transform: scale(0.9); 
  box-shadow: #88a0fd 0px -65px 36px -28px inset;
  transition: transform 0.5s ease, box-shadow 1.2s ease;
    z-index: 1;  
}
.y{
    padding-left: 10px;
}
/* ------------------------------- Footer ------------------------------ */

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top: 1px solid grey;
} 

.footer-in{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding: 1rem 0rem;
}

.footer-section{
    width: 25%;
    color: white;
}
.footer-section-one {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.footer-section-one p {
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    text-align: left;
}

.footer-section
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    text-align: center;
}

.footer-section-two, .footer-section-three, .footer-section-four {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-section-one {
    width: 40%;
}
.footer-section-two {
    width: 15%;
}
.footer-section-three {
    width: 15%;
}
.footer-section-four {
    width: 30%;
}

.footer-section-two h3, .footer-section-three h3, .footer-section-four h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(146, 146, 146);
}

.footer-section-two a, .footer-section-three a, .footer-section-four a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: .8rem;
}
.footer-section-four {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.icons{
    height: 5vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Subsrcibe form input {
    width: 90%;
    border: 1px solid grey;
    border-radius: 0;
    background-color: white;
    border: 1px;
    padding: 0.5rem;
    color: black;
    margin-top: 0.4rem;
}
.Subsrcibe form button{
    background-color: black;
    border: 1px solid grey;
    padding: 0.2rem 0.4rem;
    margin-top: 0.4rem;
    border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
    }
    .cap{
        height: 10vh;
        width: 100%;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:rgba(250, 249, 249, 0.56) 0px 22px 70px 4px;
        text-decoration-color: gray;
        
      }
      .caps{
        color: white;
        font-size: 1rem;
       }
    .container-in-two{
        width: 80%;
        color: white;
        margin: auto;
    }
    .projects1,.projects2,.projects3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 10px;
    }
    .cap{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
  }

