@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    background-color: black;
<<<<<<< HEAD
    
}
.HomePage{
    width: 100%;
    position: fixed;
=======
>>>>>>> f73b771a0036ce239a3343beaf8f0e50a185494f
}
.nav {
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center; 
    top: 0;
    position: fixed;
}
.nav-in {
    width: 95%;
    margin: auto;
    display: flex;
    padding: 0.5rem 0rem;
}
.nav-in-one {
    width: 20%;
}
.nav-in-one-in a {
    text-decoration: none;
    color: white;
}
.nav-in-one-in h1 {
    font-size: 1.5rem;
    color: white;
}
.nav-in-two {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-in-two-in {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav-in-one-in span{
    color: blue;
}
.nav-in-two-in a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
}
.nav-in-one-in span{
    color: blu;
}
.nav-in-three {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-in-three-in {
    width: 90%;
    margin: auto;
}
.nav-in-three-in a {
    text-decoration: none;
    border-radius: 0.9rem;
    color: rgb(186, 184, 184);
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
}

.nav-in-two-in a:hover{
    transform: scale(1.2);
    z-index: 1;
    transition: .6s ease;
}

.nav-in-two-in :not(a:hover)
{
    transition: .6s ease-in-out;
}

.nav-in-three-in a:hover{
    background-color: blue; 
    transition: .5s ease;
}

.nav-in-three-in :not(a:hover){
    background-color: black; 
    transition: .5s ease;
}
.Section-two{
    height: 150vh;
    width: 100%;
}
<<<<<<< HEAD
.one-in-two{
    height: 5vh;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  .cap{
    height: 10vh;
=======
.cap{
    height: 30vh;
>>>>>>> f73b771a0036ce239a3343beaf8f0e50a185494f
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    justify-content: space-evenly;
    background-color:rgba(250, 249, 249, 0.56) 0px 22px 70px 4px;
    text-decoration-color: gray;    
}
  .cap h1{
    font-weight: 470;
    font-size: 2rem;
}
.cap p{
    font-size: 1rem;
    color: rgba(186, 203, 218, 0.674);
    margin-bottom: 20px;
}
.container-in-two{
<<<<<<< HEAD
    width: 70%;
=======

    width: 80%;
>>>>>>> f73b771a0036ce239a3343beaf8f0e50a185494f
    color: white;
    margin: auto;
}
.projects1,.projects2,.projects3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.one,.two,.three,.four,.five,.six,.seven,.eight,.nine{
    overflow: hidden;
    text-align: left;
    height: 17rem;
    border: 2px solid #8c9acf;
  margin-top: 10px;
   border-radius: 0.4rem;
}
h1,h2{
  font-size: 1rem;
  font-weight: bolder;
}
img{
    border-bottom: 2px solid #8c9acf; 
}
.text1,.text2,.text3,.text4,.text5,.text6,.text7,.text8,.text9{
    padding: 10px;
}
.one:hover,.two:hover,.three:hover,.four:hover,.five:hover,.six:hover,.seven:hover,.eight:hover,.nine:hover{
    border: 2px solid #8c9acf ;
    transform: scale(0.9); 
  box-shadow: #88a0fd 0px -65px 36px -28px inset;
  transition: transform 0.5s ease, box-shadow 1.2s ease;
    z-index: 1;  
}
.y{
    padding-left: 10px;
}
footer{
<<<<<<< HEAD
    height: 55vh;
=======
    height: 50vh;
>>>>>>> f73b771a0036ce239a3343beaf8f0e50a185494f
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    box-shadow: 2px 2px 2px 2px black;
    border-top: 2px solid grey;
    background-color: black;
    border-bottom: 2px solid grey;
}
.footer-one{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid grey;
}
.footer-in-one{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-in-two{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-in{
    height: 50vh;
    width: 97%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
=======
    border-top: 2px solid grey;
    background-color: black;
} 
.footer-in{
    height: 45vh;
    width: 97%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
>>>>>>> f73b771a0036ce239a3343beaf8f0e50a185494f
}
.footer-section{
    height: 40vh;
    width: 24%;
    color: white;
}
.footer-section a{
    text-decoration: none;
<<<<<<< HEAD
    color: orange;
=======
    color: #8c9acf;
>>>>>>> f73b771a0036ce239a3343beaf8f0e50a185494f
}
.footer-section
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
<<<<<<< HEAD
}
=======
    text-align: center;
}

>>>>>>> f73b771a0036ce239a3343beaf8f0e50a185494f
.icons{
    height: 5vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
<<<<<<< HEAD
@media only screen and (max-width: 600px) {
=======
button{
    width: 18%;
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
    }
    .cap{
        height: 10vh;
        width: 100%;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:rgba(250, 249, 249, 0.56) 0px 22px 70px 4px;
        text-decoration-color: gray;
        
      }
      .caps{
        color: white;
        font-size: 1rem;
       }
    .container-in-two{
        width: 80%;
        color: white;
        margin: auto;
    }
>>>>>>> f73b771a0036ce239a3343beaf8f0e50a185494f
    .projects1,.projects2,.projects3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 10px;
    }
    .cap{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
  }

