<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

=======
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}
header{
  height: 9vh;
  width: 100%;
}
>>>>>>> f73b771a0036ce239a3343beaf8f0e50a185494f
.main {
  height: 90vh;
  width: 100%;
  background-color: black;
  color: white;
  height:fit-content;
}

.main-in-one {
  width: 100%;
  margin: auto;
  padding: 2rem 4rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main-in-one-para {
  margin: 9px 120px 0px 120px;
}

#heading {
  color: white;
  font-weight:bold;
  font-size: 2rem;
}
#text {
  color: rgba(186, 203, 218, 0.674);
  font-size: 1rem;
}
.card {
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 8px 0px 0px 9px;

}
.card-one,
.card-three,
.card-two,
.card-four {
  
  height: 14rem;
  border: 2px solid #8c9acf;
margin-top: 10px;
width: 20%;
 border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#text-card {
  padding: 15px;
  font-size: 0.5rem;
  text-align: center;
  color: white;
margin-top: 30px;

}
#link {
  font-size: 1.5rem;
  border-top: 2px solid white;
  margin-top: 14px;
}
#card-heading{
 font-weight: bold;
margin-top: 20px;
}

#link a:hover{
  font-size: 1.59rem;
  color: blue;
  text-decoration-color: aqua;
}

.card-one:hover,
.card-two:hover,
.card-three:hover,
.card-four:hover {
  transform: scale(0.9); 
  box-shadow: #88a0fd 0px -65px 36px -28px inset;
  transition: transform 0.5s ease, box-shadow 1.2s ease;

}
.main-in-four{
  margin-top: 30px;
}
.card{
  margin-top: 20px;
}
<<<<<<< HEAD
@media screen and (max-width: 1000px) {
  .main-in-one {
    padding: 2rem 1rem;
  }
  
  .main-in-one-para {
    margin: 9px 20px;
  }

  .card {
    flex-direction: column;
    gap: 2rem;
  }

  .card-one,
  .card-two,
  .card-three,
  .card-four {
    width: 80%;
  }

  #text-card {
    margin-top: 10px;
  }

 
=======
footer{
  margin-top: 10px;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid grey;
  background-color: black;
} 
.footer-in{
  height: 45vh;
  width: 97%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
}
.footer-section{
  height: 40vh;
  width: 24%;
  color: white;
}
.footer-section a{
  text-decoration: none;
  color: #8c9acf;
}
.footer-section
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.icons{
  height: 5vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button{
  width: 18%;
  text-decoration: none;
  color: black;
}
>>>>>>> f73b771a0036ce239a3343beaf8f0e50a185494f


  .main-in-four {
    margin-top: 20px;
  }

  .card {
    margin-top: 10px;
  }

}


.main{
  padding-bottom:3.5rem;
}