.main {
  background-color: black;
  color: white;
  height:fit-content;
}

.main-in-one {
  width: 100%;
  margin: auto;
  padding: 2rem 4rem 2rem 4rem;
  /* font-size: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main-in-one-para {
 
  margin: 9px 120px 0px 120px;
}

#heading {
  color: white;

  font-weight: 470;
  /* font-size: 30px; */
  font-size: 2rem;
}
#text {
  /* font-weight: 0px 30 px=2rem; */
  color: rgba(186, 203, 218, 0.674);
  font-size: 1rem;
}
.card {
  /* border: 2px solid red; */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 8px 0px 0px 9px;

}
.card-one,
.card-three,
.card-two,
.card-four {
  border: 1px solid azure;

  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.card img {
  
  width: 250px;
  padding: 10px;
}
#text-card {
  padding: 1px;
  font-size: 0.5rem;
  text-align: center;
  color: white;
margin-top: -5px;
}
#link {
  font-size: 1.5rem;
  border-top: 2px solid white;
  margin-top: 14px;
}
#link a {
  color: white;
  /* border: 2px solid white; */
}

#link a:hover{
  font-size: 1.59rem;
}

