* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

header {
    height: 9vh;
    width: 100%;
}

.main {
    height: 90vh;
    width: 100%;
    background-color: black;
    color: white;
    height: fit-content;
 padding-bottom: 3.5rem;
}

.main-in-one {
    width: 100%;
    margin: auto;
    padding: 2rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.main-in-one-para {
    margin: 9px 120px 0px 120px;
}

#heading {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

#text {
    color: rgba(186, 203, 218, 0.674);
    font-size: 1rem;
}

.card {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 8px 0px 0px 9px;
  margin-top: 10px;
    margin-top: 20px;

}

.card-one,
.card-three,
.card-two,
.card-four {
    height: 14rem;
    border: 2px solid #8c9acf;
    margin-top: 10px;
    width: 20%;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-card {
    padding: 15px;
    font-size: 0.5rem;
    text-align: center;
    color: white;
    margin-top: 30px;
}

#link {
    background: transparent;
    font-size: 1.5rem;
    border-top: 2px solid white;
    margin-top: 14px;
}


#card-heading {
    font-weight: bold;
    margin-top: 20px;
}

#link a:hover {
    font-size: 1.59rem;
background: transparent;
}

.main-in-four {
    margin-top: 20px;
}
.fa{
background: transparent;
}
#link a{
background: transparent;
}